    <style type="text/css">#wrap {min-width:320px;} 
#container.campaign_view { background: #1f2044; position:relative;}
#container.campaign_view::after{content:''; width:100%; height:500px;  background: linear-gradient(#e73721 , #1f2044 ); position:absolute; left:0; top:0; z-index:0;}
.campaign-content {min-width:320px; padding:0;}
.campaign-content .width_box {max-width:1800px; width:90%;}
.campaign_view .campaign-head .head-wrap .tit {display:none;}
.campaign_view .campaign-head {background: transparent; z-index:2;} 
.campaign-content {background: transparent;}  
#product{padding:100px 0 0;}
.zombie{z-index:1; position:relative; overflow:hidden;}
.zombie img{width:auto; max-width:100%; margin: 0 auto;} 
#product p,
#popupstore p{color:#f93b1d; font-size:34px; line-height:1.8;}
.zombie .zombie_tab{display:flex; position:fixed; bottom:0; width:100%;  left:0; background:#1f2044;  justify-content:space-between; z-index:9;}
.zombie .zombie_tab.top{bottom:auto; top:0;}
.zombie .zombie_tab a{display:block; height:60px; width:100%;color:#fff; line-height:1.5; font-size:14px; display:flex; align-items:center;  justify-content:center; }
.zombie .zombie_tab a.active{background:#e73721;}
.zombie_cont01{padding-bottom:140px;}
.zombie_cont01 .can{padding:0 20%; -webkit-animation: point-up-down 1s linear infinite alternate;  animation: point-up-down 1s linear infinite alternate;}
@keyframes point-up-down {
  0% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px); 
  }
  100% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
  }
}
 

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  } 
  to {
    background-position: -10000px 0;
  }
} 
.zombie_slide{width:100%; height:106px;position:relative;  }
.animatedBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/themes/lager/img/zombie/zombie_slide.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%; 
  animation: animatedBackground 500s linear infinite;
}
.zombie_cont03{text-align:left; position:relative; padding:300px 0 100px; overflow:hidden;}
.zombie_cont03 .zombie_footprint{position:absolute; left:0; top:300px; z-index:-1; max-width:360px; display:flex; flex-wrap:wrap; justify-content:space-between; align-items:start;}
.zombie_cont03 .txt_box{padding-left:9%; padding-top:70px;}
.zombie_cont03 .txt_box p{text-align:left; margin:100px 0; padding-left:20%;}
.zombie_cont03 .zombie_footprint img{transform: scale(.9); animation: 2050ms pawAnimation ease-in-out infinite;}
.zombie_cont03 .zombie_footprint img:nth-child(1){transform: scale(1); animation-delay: 1.5s; } 
.zombie_cont03 .zombie_footprint img:nth-child(2){ margin-top:400px; animation-delay: 1.75s; }
.zombie_cont03 .zombie_footprint img:nth-child(3){  margin-top:100px; animation-delay: 2s;}
.zombie_cont03 .zombie_footprint img:nth-child(4){ margin-top:400px; animation-delay: 2.25s;} 
.zombie_cont03 .zombie_spider{position:absolute; right:0; top:0; }
.zombie_cont03 .zombie_spider img:nth-child(1){animation: spider-move-1 5s infinite;}
.zombie_cont03 .zombie_spider img:nth-child(2){animation: spider-move-2 5s infinite;}
.zombie_cont04 {  background:#202145; overflow:hidden;}
.zombie_cont04 .red_box{background:#f83b1d;   margin-bottom:100px; padding-top:30px;}
.zombie_cont04 .bear{position:relative; z-index:2; padding:0 15% 0 20%; margin-bottom:200px;display:inline-block; max-width:400px; margin-left:30%;}
.zombie_cont04 .bear span{position:absolute; }
.zombie_cont04 .bear span:nth-of-type(1){right:-4%; bottom:10%; z-index:-2; animation: wiggle 2s both ease-in-out infinite;} 
.zombie_cont04 .bear span:nth-of-type(2){right:20%; bottom:18%; z-index:-1;animation: wiggle 2s both ease-in-out infinite;} 
.zombie_cont04 .bear span:nth-of-type(3){right:2%; bottom:2%; z-index:-1;animation: wiggle 2s both ease-in-out infinite;} 
.zombie_cont04 .bear span:nth-of-type(4){right:10%; bottom:-10%; z-index:1;animation: wiggle 2s both ease-in-out infinite;}  
.zombie_cont04 .bear span:nth-of-type(5){left:15%; bottom:-5%; z-index:-1;animation: wiggle 2s both ease-in-out infinite;} 
.zombie_cont04 .bear span:nth-of-type(6){left:5%; bottom:0; z-index:-2;animation: wiggle 2s both ease-in-out infinite;} 
.zombie_cont04 .bear span:nth-of-type(7){left:3%; bottom:0; z-index:-2;animation: wiggle 2s both ease-in-out infinite;} 
.zombie_cont04 .bear span:nth-of-type(8){left:28%; bottom:6%; z-index:-2;animation: wiggle 2s both ease-in-out infinite;} 
.zombie_cont04 .bear span:nth-of-type(9){left:22%; bottom:8%; z-index:-3;animation: wiggle 2s both ease-in-out infinite;} 
@keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
} 


@keyframes spider-move-1 {
  0%, 100% {
    margin-top: -53px;
  }
  50% {
    margin-top:0;
  }
}
@keyframes spider-move-2 {
  0%, 100% {
    margin-top: -300px;
  }
  41% {
    margin-top: 0;
  }
}


@keyframes wiggle {
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
} 
#popupstore{  background: #202145;} 
.zombie_cont05{display:flex; justify-content:space-between; align-items:end; padding: 80px 0; } 
.zombie_cont06{  }
.zombie_cont07{background:#1f2044;  padding:100px 0 0; }
.zombie_cont07 .skull{}
.zombie_cont07 .skull div{margin:100px 0; animation: 2s pawAnimation ease-in-out infinite; opacity:0;}
.zombie_cont07 .skull div:nth-child(1){  animation-delay: .5s;} 
.zombie_cont07 .skull div:nth-child(2){ animation-delay: .75s; } 
.zombie_cont07 .skull div:nth-child(3){ animation-delay: 1s; } 
.zombie_cont07 .skull div:nth-child(2) img{opacity:.49;}
.zombie_cont07 .skull div:nth-child(3) img{opacity:.06;}
#idcard{padding:0 0 300px;}
.zombie_cont08{position:relative;  }
.zombie_cont08 .reg_btn{position:absolute; bottom:7%; text-align:center; width:100%;}
.zombie_cont08 .reg_btn a {display:inline-block; margin:0 2%; max-width:30%;}


/* 추가작업 */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hide { position: absolute; left:-9999%; font-size:0; line-height:0;}
.campaign-content .width_box.zombie_reg_step { max-width:1066px;}

.reg_tit { padding:100px 0;}
.reg_sm_tit { padding:100px 0;}
.reg_sm_tit p{color:#fff; font-size:34px;}
.zombie_reg_step { display:none;}
.zombie_reg_step.open { display:block;}
.zombie_reg_step .zombie_reg_inner {  position: relative; padding:100px 5% 120px; background:url('/themes/lager/img/zombie/zombie_reg_bg_con.png') repeat-y center; background-size:100%;}
.zombie_reg_step .zombie_reg_inner::before { content:""; position: absolute; left:0; top:0; padding-bottom:7.036%; width:100%; background:url('/themes/lager/img/zombie/zombie_reg_bg_top.png') no-repeat center; background-size:100%;}
.zombie_reg_step .zombie_reg_inner::after { content:""; position: absolute; left:0; bottom:0; padding-bottom:3.753%; width:100%; background:url('/themes/lager/img/zombie/zombie_reg_bg_btm.png') no-repeat center; background-size:100%;}
.zombie_reg_step .reg_btn { margin:70px 0 0;}
.zombie_reg_step .reg_btn > * {display:inline-block; margin:0 2%; max-width:30%;}
.zombie_reg_step#step01 .reg_btn { margin:0;}
.zombie_reg_step#step04 .zombie_reg_inner { padding:20% 5%;}

.zombie_tit_bn{background:#1f2044; margin: -24px -4.2%; padding:20px 40%; margin-bottom:0;} 

input[type="text"] { padding:0 10px; margin:0 40px; max-width:550px; min-width:50%; width:100%; border:1px solid #fff; background-color:#fff; height:60px; font-size:35px; color:#000; font-weight:700; line-height:58px; text-align:center; -webkit-box-shadow: none; box-shadow: none; -webkit-appearance: none; appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box;}
input[type="text"]::placeholder { color:#aaa;}
input[type="text"]:last-child { margin-right:0;}

.form_group { padding:0 5%;  }
.form_group .reg_btn { padding-bottom:0;}

.input_group { display:flex; align-items:center;}
.input_group + .input_group { margin-top:30px;}
.input_group span,
.input_group label { display:block; font-size:16px; color:#fff; font-weight:700; white-space: nowrap; }

.image_file_group { position: relative; margin:0 auto; padding-top:50%; width:50%; border:3px dashed #000;}
.image_file_group strong { position: absolute; left:50%; top:50%; font-size:50px; color:#fff; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.image_file_group .preview_img { overflow:hidden; position: absolute; left:0; top:0; width:100%; height:100%;}
.image_file_group .preview_img img { display:block; min-width:100%; min-height:100%; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); object-fit: cover;  }
.image_file_group input[type="file"] { opacity: 0; position: absolute; left:0; top:0; z-index:1; width:100%; height:100%; }
.image_file_group { position: relative; border:3px dashed #000;}
.image_file_group input[type="file"],
.image_file_group input[type="file"]::-webkit-file-upload-button { cursor: pointer; }

.reg_loading { display:flex; padding:5% 5% 100px;}
.reg_loading span { flex:1; padding:5px 10px; }
.reg_loading span img { -webkit-animation: 2s loadAni ease-in-out infinite; animation: 2s loadAni ease-in-out infinite; opacity:0.2;}
.reg_loading span:nth-child(1) img { animation-delay:0s;} 
.reg_loading span:nth-child(2) img { animation-delay:0.1s; } 
.reg_loading span:nth-child(3) img { animation-delay:0.2s; } 
.reg_loading span:nth-child(4) img { animation-delay:0.3s; } 
.reg_loading span:nth-child(5) img{ animation-delay:0.4s;} 

.campaign-content .width_box.zombie_reg_result { max-width:1066px;}
.zombie_reg_result {-webkit-box-sizing: border-box; box-sizing: border-box;}
.zombie_reg_result .reg_btn { margin-top:70px; }

.result_img_box { display:inline-block; position: relative;}
.result_code { position: absolute; right:8.5%; top:16.5%; font-size:25px; color:#000; letter-spacing: 0.1em; text-align:right; font-family: 'Cafe24Ssurround',sans-serif;}
.result_word { position: absolute; left:50%; bottom:4%; width:100%; -webkit-transform:translateX(-50%); transform:translateX(-50%);}
.result_word strong { display:block; margin-bottom:10px; font-size:70px; color:#2f2149; font-family: 'Cafe24Ssurround',sans-serif;}
.result_word p { font-size:37px; color:#fe3b1f; font-family: 'Cafe24Ssurround',sans-serif;}
.result_img { position: absolute; left:50%; top:50%; max-width:280px; width:40%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
/* .result_img > div{ width:100%; height:1px; padding-bottom:100%; background-repeat:no-repeat; background-size:cover; background-position:center center;} */
.result_desc_box { margin-top:30px;}
.result_desc_box p{color:#fff;}
.result_desc_box p span{color:#c5af5e;}
.btn_form { padding:10px 40px; border:2px solid #fff; background-color:#c5af5e; font-size:30px; color:#000; font-weight:700;}



@-webkit-keyframes loadAni {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
} 
@keyframes loadAni {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
} 

@media screen and (max-width:999px) {
    .image_file_group strong { font-size:7.5575vw;}
    .result_code { font-size:3.0562vw;}
    .result_word strong { margin-bottom:1%; font-size:8.5575vw;}
    .result_word p { font-size:4.5232vw;}

    .zombie_reg_result .reg_btn > * { display:block; margin-top:10px; margin-left:0; margin-right:0; max-width:100%; width:100%;}
    .zombie_reg_result .reg_btn > *:first-child { margin-top:0;}
}

@media (max-width:768px){ 
	#product{padding:50px 0 0;} 
	.zombie_cont01{padding-bottom:70px;}
	.zombie_cont01 .img{margin:0 -20%;}
	.zombie_cont02 > div{width:100%;margin-top:50px;}
	.zombie_cont02 > div:last-child{margin-top:50px;}
	.zombie_cont02{padding:0 0 50px}
	.zombie_slide{height:60px;}
	.zombie_cont03 .zombie_spider{width:60px; display:flex; align-items:start;}
	.zombie_cont03 .zombie_spider img{width:50%;}
	.zombie_cont03{padding:0 0 50px;}
	.zombie_cont03 .txt_box{padding-left:0;}
	.zombie_cont03 .zombie_footprint{width:30%; display:flex; align-items:start; top:180px;}
	.zombie_cont03 .zombie_footprint img{width:50%;}
	.zombie_cont03 .zombie_footprint img:nth-child(2){ margin-top:50px;}
	.zombie_cont03 .zombie_footprint img:nth-child(3){  margin-top:20px;}
	.zombie_cont03 .zombie_footprint img:nth-child(4){ margin-top:50px;} 
	.zombie_cont04 .bear{padding:0 30%; margin-bottom:50px; margin-left:0;}
	.zombie_cont04 .red_box{margin-bottom:50px;}
	.zombie_cont04 .bear span{max-width:100px;}
	.zombie_cont05{flex-wrap:wrap;  padding:30px 0;}
	.zombie_cont05 img{margin:20px 0; }
	.zombie_cont06{ overflow:hidden;}
	.zombie_cont06 img{margin:0 -50%;     max-width: 200%;}
	.zombie_cont07{padding:50px 0 0;}
	.zombie_cont07 .skull img{max-width:50px;}
	.zombie_cont07 .skull div{margin:30px 0;}
	#idcard{padding:0 0 100px;min-height:100vh; -webkit-box-sizing: border-box; box-sizing: border-box;}

    .reg_tit { padding:50px 0;}
    .reg_sm_tit { padding:30px 0;}
	.reg_sm_tit p{font-size:16px;}
    .zombie_reg_step .zombie_reg_inner { padding:50px 5% 70px;}
    input[type="text"] { margin:0 10px; height:42px; font-size:18px; line-height:40px;}
    .input_group + .input_group { margin-top:5%;}
    .form_group {  }
    .reg_loading { padding-bottom:50px;}
    .btn_form { padding:8px 30px; font-size:18px;}
    .zombie_reg_step .reg_btn { margin:40px 0 0;}
    .result_desc_box { margin:30px auto 0; }

	#product p, #popupstore p{font-size:16px; }
	.zombie_cont03 .txt_box p{margin:30px 0;}
}
</style>



<div class="zombie_cont03 width_box">
<div class="txt_box">

  <img src="{{ file_url(node.field_productimg.entity.fileuri) }}" 
       alt="{{ content.field_productimg[0]['#item'].alt }}" 
       class="overlay-image">
<p>“70년, 열심히 살았다!”<br />
1952년에 태어난 나, 랄라베어<br />
그동안 여러 번 위기가 있었지만<br />
좀비처럼 다시 살아 돌아와<br />
내 자리를 지켰지.<br />
<br />
올해 70살이 된 기념으로<br />
좀비베어로 돌아왔다.<br />
나처럼 꿋꿋하게 살아가는<br />
이 세상 모든 좀비들아!<br />
어디 한 번 나랑 함께<br />
무섭게 놀아볼 준비됐어?<br />
<br />
OB LAGER 70주년 에디션<br />
좀비-라거</p>
</div>

<div class="zombie_spider"><img alt="" src="https://www.oblager.kr/themes/lager/img/zombie/zombie_spide01.png" /> <img alt="" src="https://www.oblager.kr/themes/lager/img/zombie/zombie_spide02.png" /></div>


  </div>



