.product .product-content .product-list .list-item.prod_pd {padding-bottom:50px;}

.common_pop {width: 640px !important;margin-left: -320px !important;border: 1px solid #353535;border-radius: 15px !important;}
.pop_box {max-height: 350px !important;padding: 20px !important;}
.pop_wrap .common_pop .pop_con .pop_tit {min-height: 80px !important;padding: 24px 50px 19px 20px !important;font-size: 30px !important;}
.pop_wrap .common_pop .pop_con .pop_box .terms p {font-size:16px !important}
.pop_wrap .common_pop .pop_btns a {height: 55px;font-size: 20px !important;line-height: 55px !important;}
.pop_wrap .common_pop .btn_closePop {background: url(/themes/lager/img/btn_close.png) no-repeat !important;background-size: 25px !important;top: 30px !important;right: 25px !important;width: 25px !important;height: 25px !important;}




